/*https://fonts.google.com/noto/specimen/Noto+Serif
https://fonts.coollabs.io/ A privacy-friendly drop-in replacement for Google Fonts */
@import url("https://api.fonts.coollabs.io/css2?family=Noto+Serif:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* this is for shadcn/ui */
  :root {
    --background: 220 10% 94%;
    --foreground: 240 87% 3%;
    --card: 220 10% 94%;
    --card-foreground: 240 87% 3%;
    --popover: 220 10% 94%;
    --popover-foreground: 240 87% 3%;
    --primary: 242 85% 40%;
    --primary-foreground: 220 10% 94%;
    --secondary: 242 84% 85%;
    --secondary-foreground: 240 87% 3%;
    --muted: 222 10% 20%;
    --muted-foreground: 240 87% 70%;
    --accent: 242 85% 45%;
    --accent-foreground: 220 10% 94%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 240 87% 3%;
    --border: 222 10% 20%;
    --input: 222 10% 20%;
    --ring: 242 85% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 10% 6%;
    --foreground: 240 87% 97%;
    --card: 220 10% 6%;
    --card-foreground: 240 87% 97%;
    --popover: 220 10% 6%;
    --popover-foreground: 240 87% 97%;
    --primary: 242 85% 60%;
    --primary-foreground: 240 87% 97%;
    --secondary: 242 84% 15%;
    --secondary-foreground: 240 87% 97%;
    --muted: 222 10% 80%;
    --muted-foreground: 240 87% 97%;
    --accent: 242 85% 55%;
    --accent-foreground: 240 87% 97%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 240 88% 10%;
    --border: 219 10% 60%;
    --input: 222 10% 80%;
    --ring: 242 85% 60%;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 3px;
    background-color: theme(colors.background.dark / 5%);
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme(colors.accent.dark / 50%);
  }

  body {
    font-family: "Noto Serif", serif;
  }

  hr {
    display: block;
    margin: 1em 0;
    border: 0;
    border-top: 1px solid #cccccc;
    padding: 0;
    height: 1px;
  }
}
