@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* * {
    outline: 1px solid #ff0000;
  } */
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 0%;
    --card: 0 0% 95%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 95%;
    --popover-foreground: 0 0% 0%;
    --primary: 247 28% 82%;
    --primary-foreground: 0 0% 0%;
    --secondary: 200 41% 77%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 193 9% 19%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 193 9% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 100%;
    --card: 0 0% 5%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 100%;
    --primary: 247 28% 18%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 41% 23%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 100%;
    --accent: 193 9% 81%;
    --accent-foreground: 0 0% 5%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 193 9% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* .markdowm p {
    @apply indent-8 text-sm lg:text-lg xl:text-xl;
  }

  .markdowm li {
    @apply text-sm lg:text-lg xl:text-xl;
  } */

  /* .markdown ul {
    @apply list-inside list-disc marker:text-accent;
  } */
  .prose a {
    @apply relative w-fit text-accent transition-all duration-300 ease-in-out after:absolute after:bottom-0 after:left-0  after:h-1 after:w-full after:origin-left after:scale-x-0 after:bg-accent after:transition-transform after:ease-in after:content-[''] hover:text-accent/80  after:hover:translate-x-0 after:hover:scale-x-100 after:hover:duration-300;
  }
}

@layer base {
  @media (prefers-reduced-motion) {
    ::view-transition-old(root),
    ::view-transition-new(root) {
      animation: none;
    }
  }

  @supports (view-transition-name: none) {
    ::view-transition-group(project-name) {
      animation-timing-function: ease-in;
      animation-duration: 0.3s;
    }
  }
}
